// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box
{
  width: 47px;
  height: 33px;
  text-align: center;
  vertical-align: middle;
  margin-left: 5px;
}

.well
{
  margin-left: 5px;

}
